<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My form</title>
    </head>
    <body>
        <h1>My form</h1>
        <form action="http://localhost:5000/create" method="GET">
            <div>
                <label for="name">Nom :</label>
                <input type="text" id="name" name="user_name">
            </div>
            <div>
                <label for="pass">Password :</label>
                <input type="password" id="pwd" name="user_password">
            </div><div class="button">
                <button type="submit">Register</button>
            </div>
        </form>
    </body>
</html>