<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello</h1>
        <form action="http://localhost:5000/form" method="GET">
            </div><div class="button">
                <button type="submit">registration</button>
            </div>
        </form>
        <form action="http://localhost:5000/lognin" method="GET">
        </div><div class="button">
            <button type="submit">connection</button>
        </div>
        </form>
    </body>
</html>
